<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
	<bean id="netPointService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
    	<property name="serviceUrl" value="http://localhost:8080/httpInvokerService.service"/>
    	<property name="serviceInterface" value="com.threecube.test.service.NetPointService"/>
    	<property name="httpInvokerRequestExecutor">  
            <bean class="org.springframework.remoting.httpinvoker.HttpComponentsHttpInvokerRequestExecutor">  
                <property name="readTimeout" value="5000" />  
                <property name="connectTimeout" value="5000" />  
            </bean>  
         </property> 
	</bean>
	
</beans>