<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
	<bean id="netPointService" class="com.threecube.test.service.impl.NetPointServiceImpl"></bean>
	
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName"><value>netPointService</value></property>
		<property name="service" ref="netPointService"></property>
		<property name="serviceInterface"><value>com.threecube.test.service.NetPointService</value></property>
		<property name="registryPort"><value>5200</value></property>
		<property name="servicePort"><value>5201</value></property>
	</bean>
</beans>